# POS-AI sandbox — puertos alternativos (segundo stack Docker)
APP_VERSION=1.4.0
FRONTEND_PORT=8080
BFF_PORT=2021
CORE_PORT=1011
MYSQL_PORT=3307

DB_NAME=pos-ai-db
MYSQL_DATABASE=pos-ai-db
MYSQL_USER=usr_pos_ai
MYSQL_PASSWORD=Usr@12345
MYSQL_ROOT_PASSWORD=S3d4f5g6_
